<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--<header> my head </header>-->
<!--<p> 12 </p>-->
<!--<button> my but</button>-->
<!--<div> i ma </div>-->
<!--<span> i am line0</span>-->
<!--<span> i am line1</span>-->
<!--<span> i am line2</span>-->
<!--<textarea> test area </textarea>-->
<!--<input> input <input type="text">-->

<div class="box2">
  i am a block
</div>
<div class="box2">
  i am a block
</div>
<div class="box2">
  i am a block
</div>


<!--<div style="position: absolute; top: 1000px; width: 500px; height: 500px; margin-left: 20px; padding-left: 50px; padding-top: 50px; border-top: 5px red solid;border-right: 5px red solid; border-left: 5px red solid; border-bottom: 5px red solid;">-->
<!--  I am a Red block.-->
<!--</div>-->
<!--<div style="width: 500px; height: 500px; margin-left: 20px; padding-left: 50px; padding-top: 50px; border-top: 5px green solid;border-right: 5px green solid; border-left: 5px green solid; border-bottom: 5px green solid;">-->
<!--  I am a Green Block.-->
<!--</div>-->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

